body {
    background: #0d1117;
    color: #e6edf3;
}

.card.futuristic {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.2);
}

.card-body h2, .card-body h5 {
    color: #00c6ff;
}

.text-muted {
    color: #9ca3af !important;
}

.badge-success {
    background-color: #00c6ff !important;
    color: #0d1117 !important;
}

.badge-danger {
    background-color: #ff3864 !important;
    color: #0d1117 !important;
}

.desc-box {
    background: #0d1117;
    color: #e6edf3;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 1rem;
}

.img-product {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 198, 255, 0.4);
}

.btn-back {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #00c6ff;
    background: #0a192f;
    color: #00c6ff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

    .btn-back:hover {
        background: #02101f;
        box-shadow: 0 0 10px #00c6ff;
        color: #e6edf3;
    }

.border-end {
    border-right: 1px solid #30363d !important;
}
